* {
  margin: 0px;
  text-decoration: none;
}
.topo-site {
  border-bottom: solid 1px grey;
  font-size: 20px;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.red {
  color: red;
  font-size: 20px;
}

.brow {
  color: brown;
  font-size: 20px;
}

.bar {
  border: solid 3px white;
  width: 140px;
  margin: 0 auto;
  margin-top: 10px;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.produtos {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  background-color: #b6554f;
}

.obs {
    width: 150px;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
}

#endereco {
    width: 130px;
    display: flex;
    margin: 0 auto;
}

@media (min-width: 260px) {
  .produtos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: #ffff; */
  }
}
/* @media (min-width: 700px) {
    .produtos {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      background-color: #ffff;
    }
  } */

.coluna-produto {
  /* background-color: #dc6378; */
  background-color: #ffffb8;
  width: 220px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.75);
}

.refrigerantes {
  background: rgb(255, 208, 225);
  background: linear-gradient(
    286deg,
    rgba(255, 208, 225, 1) 36%,
    rgba(255, 255, 157, 1) 84%
  );
}

/* BACK A SER USADO NO OUTRO SITE
background: rgb(255, 208, 225);
  background: linear-gradient(
    286deg,
    rgba(255, 208, 225, 1) 36%,
    rgba(255, 255, 157, 1) 84%
  ); */

.produtosColum {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 651px) {
  .produtosColum {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.nome_do_produto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#refri {
  background-color: #ffbcca;
  width: 150px;
  border-radius: 20px;
  margin: 0 auto;
  /* display: flex;
  text-align: center; */
  /* flex-direction: column; */
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.75);
}

/* textos */

.value {
  color: white;
}

.texto-boa-vindas {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.precoProduto {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.preco {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.nome-produto {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fead26;
}
.nome_produto {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: center;
}

.produto-descricao {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: white;
}

.conteudo {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: white;
}

.descricao {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.green {
  color: #ffffff;
}

.ref {
  color: rgb(0, 0, 0);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  color: #ffffeb;
}
/* PARTE DO SITE DE PORÇÕES */
.nome_produto_obj {
  color: #281b24;
  font-size: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}

.nome_produto_obj_ref {
  color: #281b24;
  font-size: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}
/* FIM PARTE DO SITE PORÇÕES */

/* botao */


.pedir {
  background-color: #002930;
  color: white;
  width: 70px;
  font-size: 16px;
  padding: 2px;
  border: none;
  border-radius: 16px;
  margin-bottom: 7px;
}

.bntCarrinho {
  width: 150px;
  background-color: #66bb6a;
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
}

a {
  color: red;
}

.lista {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 16px;
}

.texto-lista {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}

.bnt-personalizar {
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: #002930;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#recheio,
#pagamento {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #002930;
  color: #ffff;
  margin: 0 auto;
}

/* parte das imagens */

img {
  width: 120px;
  /* display: block; */
  justify-content: center;
  /* margin: 0 auto; */
  margin-bottom: 10px;
  border-radius: 10px;
}

.excluir {
  width: 20px;
  position: fixed;
  top: 27%;
  left: 50%;
}
.excluir-carrinho {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (min-width: 700px) {
  .excluir {
    width: 20px;
    position: fixed;
    top: 27%;
    left: 50%;
  }
}

@media (min-width: 740px) {
  .excluir {
    width: 20px;
    position: fixed;
    top: 18%;
    left: 50%;
  }
}
@media (min-width: 800px) {
  .excluir {
    width: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
  }
}
@media (min-width: 840px) {
  .excluir {
    width: 20px;
    position: fixed;
    top: 21%;
    left: 50%;
  }
}
@media (min-width: 900px) {
  .excluir {
    width: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
  }
}

@media (min-width: 720px) {
  .excluir {
    width: 20px;
    position: fixed;
    top: 38%;
    left: 50%;
  }
}

.img-carrinho {
  position: fixed;
  top: 95%;
  left: 90%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  width: 50px;
}

.imgDoCarrinho {
  background-color: white;
  width: 100px;
  border-radius: 50%;
}

/* Parte do pedido */

.bnt_add_carrinho {
  width: 150px;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  background-color: #34994a;
  color: white;
  border: none;
  border-radius: 30px;
}

#pedido-do-combo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px;
}

label {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  /* margin-left: 20%; */
  font-family: "Montserrat", sans-serif;
  color: white;
}

.pedido-personalizado-vulcao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 200px;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 720px) {
  .pedido-personalizado-vulcao {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 300px;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
}

.salgados {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

input[type="checkbox"]:checked {
  background-color: #66bb6a;
}

select {
  width: 200px;
  border: none;
  border-radius: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}

.endereco {
  width: 180px;
  margin: 0 auto;
}

.bnt-venda {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  width: 100px;
  margin: 0 auto;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #002930;
  color: white;
}

.compras {
  display: flex;
  justify-content: center;
  font-size: 18px;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 300px;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produtoadd {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
}

.produtos_add {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}
